*{
    margin: 0;
    padding: 0;  
}

html{
    font-size: 62,5%;
    }

/*
.body{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.1fr 0.5fr 1fr 0.3fr;
    grid-template-areas:
    "header header header header"
    "main main main main "
    "destacados destacados destacados destacados"
    "footer footer footer footer";
}
*/

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navegacion { 
    background-color: white; 
    display: flex;
    justify-content:space-around;
    align-items:center;
    grid-area: header;   
    margin-top: 40px;
}

.navegacion .menu{
    margin-bottom: 30px;
}

.menu ul li{
    display: inline-block;
    position: relative;
    font-size: 20px;
    padding: 10px;
}

.menu ul li a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    transition: font-size 1.5s;
}

.menu ul li a:hover{
    color: #F95503;
    font-size: 16px;
}

.buscar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding-right: 40px;
}

.btnBuscar{
    background-color: #5b5f63;
    color: white;
}

.btnBuscar:hover{
    background-color: #F95503;
}

.banner img{
    width: 1900px;
}

.main{
    grid-area: main;
}

.separador{
    background-color: #5b5f63;
    height: 20px;
}

.separadorDos {
    background: linear-gradient(to right, #FFB300, #F95503);
    height: 20px;
}

.destacados {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    grid-area: destacados;
}

.destacados img {
    height: 350px;
    width: 350px;
}

.destacadosImg{
    display: flex;
    column-gap: 100px;
}
.productos-destacados{
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.footer {  
    display: flex;
    justify-content: space-around;
    background-color: #5b5f63;
    grid-area: footer;
}

.menuFooter{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 10px;
    margin-top: 30px;
}

.menuFooter p{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-transform: uppercase;
}

.navFooter ul{
    list-style-type: none;
}

.navFooter ul li a{
    text-decoration: none;
    color: white;
    text-transform: none;
    text-transform: uppercase;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    transition: font-size 1s;
}

.navFooter ul li a:hover{
    font-size:  15px;
}

.contactoFooter{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-top: 30px;
}

.contactoFooter a{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.contactoFooter p{
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-transform: uppercase;
}

.redesSociales {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-top: 30px;
}

.redesSociales p{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-transform: uppercase;
}

.redesSociales a{
    display: flex;
}

.redesIco{
    display: flex;
    column-gap: 20px;
}

.redesIco img{
    height: 20px;
    transition: height 2s;
}

.redesIco img:hover{
    height: 50px;
}


.logoFooter{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    justify-content: center;
}
.logoFooter img{
    height: 60px;
}

.btn-whatsapp img{
    height: 60px;
    width: auto;
}

.btn-whatsapp {
    display:block;
    width:65px;
    height:65px;
    position: fixed;
    right:35px;
    bottom:15px;
}

.body-productos{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.1fr 0.9fr 0.9fr 0.9fr 0.3fr;
    grid-template-areas:
    "header header header header"
    "mainp mainp mainp mainp"
    "mainp mainp mainp mainp"
    "mainp mainp mainp mainp"
    "footer footer footer footer"
}

.main-productos{
    display: flex;
    flex-direction: column;
    grid-area: mainp;
}

.categorias{
    margin: 50px 30px 60px 100px; 
    height: 200px;
    width: 1fr;
}

.categorias ul{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2;
    font-size: 1.1rem;
    list-style-type: none;
}

.categorias ul li:hover{
    color: #F95503;
}

.categorias ul h3{
    font-size: 1.5rem;
    text-transform: uppercase;
}

.imgProductos{
    margin-left: 400px;
    margin-top: -260px;
}

.imgProductos img{
    height: 250px;
    width: 250px;
    margin: 25px 30px;
}

.masproductos{
    margin-top: 100px;
    margin-left: 450px;
    margin-bottom: 50px;
}

.masproductos a{
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.masproductos:hover{
    color:#F95503;
}

.quienesSomos{
    margin: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.quienesSomos h3{
    font-size: 1.2rem;
    text-transform: uppercase;
}


.introQuienes{
    margin: 10px;
    line-height: 1.5;
    font-size: 20px;
}

.tecnicoQuienes{
    margin: 10px;
    line-height: 1.5; 
    font-size: 20px;   
}

.titulotecnico{
    font-size: 1.2rem;
    text-transform: uppercase;   
}

.garantiaQuienes{
    margin: 10px;
    line-height: 1.5;
    font-size: 20px;    
}

.tituloGarantia{
    font-size: 1.2rem;
    text-transform: uppercase;     
}

.instagram{
    height: auto;
    width: 1900px;
}

.videoComprar{
    margin-top: 50px;
    margin-left: 500px;
}

.pasosCompra{
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 50px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

.contacto{
    height: 700px;
}
.contMapa{
    height: 700px;
    width: 700px;

}
.mapa{
    height: 600px;
    width: 800px;
    margin-top: 50px;
    margin-left: 50px;
}

.formulario{
    margin-left: 1000px;
    margin-top: -650px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 2; 
}


/*
@media screen and (max-width: 425px){

    .body{
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.1fr 0.2fr 1fr 0.2fr;
        grid-template-areas:
        "header header"
        "main main"
        "destacados destacados"
        "footer footer";
        width: 425px;
    }

    .header{
        display:flex;
        flex-direction: column;
        background-color:#5b5f63;
        width: auto;
        grid-area: header;
    }

    .logo{
        padding-left: 10px;
        margin-top: 20px;
    }

    .logo img{
        height: 80px;
    }

    .menu ul{
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        margin-top: -50px;
        row-gap: 1px;
        margin-left: -400px;
    }

    .menu ul li a{
        color: white;
        font-size: 10px;
    }

    .main{
        display: flex;
        flex-direction: column;
        grid-area: main;
    }

    .separador{
        height: 10px;
        width: 425px;
        background: linear-gradient(to right, #FFB300, #F95503);
    }

    .banner img{
        width: 425px;
    }

    .separadorDos{
        height: 10px;
        width: 425px;
    }

    .destacados{
        margin-top: 50px;
        height: 480px;
    }

    .destacados h2{
        font-size: 15px;
    }

    .destacadosImg{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 10px;
        row-gap: 50px;
        margin-top: 50px;
        margin-bottom: 30px;
        grid-area: destacados;
    }

    .destacadosImg img{
        height: 200px;
        width: 200px;
    }

    .footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 80px;
        width: 425px;
    }

    .menuFooter{
        display: none;
    }

    .contactoFooter{
        text-align: center;
    }

    .redesSociales{
        align-content: center;
        margin: auto;
    }

    .redesIco{
        margin: auto;
    }

    .logoFooter{
        margin-top: -80px;
        height: 200px;
    }

    .btn-whatsapp{
        display:block;
        width:40px;
        height:40px;
        position: fixed;
        right:30px;
        bottom:40px;
    }

    .body-productos{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.1fr 0.1fr 0.1fr 0.3fr;
        grid-template-areas:
        "header header"
        "mainp mainp"
        "imagenesp imagenesp"
        "footer footer";
        width: 425px;
    }

    .categorias{
        display: none;
    }

    .main-productos{;
        width: auto;
        grid-area: mainp;
    }

    .imgProductos{
        display: flex;
        flex-direction: column;
        row-gap: 70px;
        margin: auto;
        width: auto;
        grid-area: imagenesp;
    }

    .primerBloque{
        display: flex;
        flex-wrap: wrap;
        row-gap: 70px;
        justify-content: center;
        margin-top: 50px;
    }

    .segundoBloque{
        display: flex;
        flex-wrap: wrap;
        row-gap: 70px;
        justify-content: center;
        margin-top: 10px;
    }

    .tercerBloque{
        display: flex;
        flex-wrap: wrap;
        row-gap: 70px;
        justify-content: center;
        margin-top: 10px;
        margin-bottom: 50px;
    }

    .masproductos{
        display: none;
    }

    .imgProductos img{
        margin: auto;
        height: 200px;
        width: 200px;
    }


}
*/

