.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center; }

.navegacion {
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 40px; }

.menu {
  margin-bottom: 30px; }
  .menu ul li {
    display: inline-block;
    position: relative;
    font-size: 20px;
    padding: 10px; }
    .menu ul li a {
      text-decoration: none;
      text-transform: uppercase;
      font-size: 15px;
      font-weight: 700;
      font-family: "Open Sans", sans-serif;
      color: black;
      transition: font-size 1.5s; }
      .menu ul li a:hover {
        color: #f95503;
        font-size: 16px; }

.titulo-destacados {
  display: flex;
  justify-content: center; }
  .titulo-destacados h2 {
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    margin-top: 10px; }

.destacadosImg img {
  height: 350px;
  width: 350px; }

.img-thumbnail {
  margin-left: 20px;
  border: none; }

.categorias {
  margin-top: 50px; }
  .categorias ul {
    font-family: "Open Sans", sans-serif;
    line-height: 2;
    font-size: 1.1rem;
    list-style-type: none; }
    .categorias ul li:hover {
      color: #f95503; }
    .categorias ul h3 {
      font-size: 1.5rem;
      text-transform: uppercase; }

.imgProductos img {
  height: 250px;
  width: 250px;
  margin: 25px 30px;
  transition: transform 1s; }
  .imgProductos img:hover {
    transform: scale(1.2); }

.masproductos {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px; }
  .masproductos:hover {
    color: #f95503; }
  .masproductos a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-family: "Open Sans", sans-serif; }

.quienesSomos {
  margin: 50px;
  font-family: "Open Sans", sans-serif; }
  .quienesSomos h3 {
    font-size: 1.2rem;
    text-transform: uppercase; }

.introQuienes {
  margin: 10px;
  line-height: 1.5;
  font-size: 20px; }

.tecnicoQuienes {
  margin: 10px;
  line-height: 1.5;
  font-size: 20px; }

.titulotecnico {
  font-size: 1.2rem;
  text-transform: uppercase; }

.garantiaQuienes {
  margin: 10px;
  line-height: 1.5;
  font-size: 20px; }

.tituloGarantia {
  font-size: 1.2rem;
  text-transform: uppercase; }

.videoComprar {
  margin-top: 10px; }

.pasosCompra {
  background: linear-gradient(to right, #ffb300, #f95503);
  margin-top: 10px;
  margin-bottom: 10px;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5; }
  .pasosCompra h2 {
    font-size: 25px; }

.mapa {
  height: 600px;
  width: 700px;
  margin-top: 50px;
  margin-left: 100px;
  margin-bottom: 50px; }

.formulario {
  margin-left: 40px;
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  line-height: 1.5; }

.opcionesContacto {
  display: flex; }

.enviar {
  margin-top: 10px; }

.footer {
  background-color: #5b5f63; }

.menuFooter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  row-gap: 10px; }
  .menuFooter p {
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
    color: white;
    text-transform: uppercase;
    margin-left: 30px;
    margin-top: 10px; }

.navFooter ul {
  list-style-type: none;
  margin-top: -25px; }
  .navFooter ul li a {
    text-decoration: none;
    color: white;
    text-transform: none;
    text-transform: uppercase;
    font-size: 10px;
    font-family: "Open Sans", sans-serif;
    transition: font-size 1s; }
    .navFooter ul li a:hover {
      font-size: 15px; }

.contactoFooter {
  display: flex;
  flex-direction: column;
  row-gap: 10px; }
  .contactoFooter a {
    text-decoration: none; }
  .contactoFooter p {
    font-size: 10px;
    font-family: "Open Sans", sans-serif;
    color: white;
    text-transform: uppercase;
    margin-bottom: 0; }

.redesSociales {
  display: flex;
  flex-direction: column; }
  .redesSociales p {
    text-transform: uppercase; }
  .redesSociales a {
    display: flex; }

.redesIco {
  display: flex;
  column-gap: 20px; }
  .redesIco img {
    height: 30px; }

.logoFooter {
  display: flex;
  align-items: center;
  row-gap: 10px;
  justify-content: center; }
  .logoFooter img {
    height: 60px; }

@media screen and (max-width: 1024px) {
  .logo img {
    height: auto;
    width: 150px; }
  .img-thumbnail {
    margin-left: -5px;
    border: none; }
  .destacadosImg .row {
    --bs-gutter-x: 0; }
    .destacadosImg .row img {
      height: auto; }
  .mapa {
    margin-left: 15px;
    width: 500px; }
  .formulario {
    margin-left: 100px; } }

@media screen and (max-width: 768px) {
  .logo {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    height: auto;
    width: 250px; }
  .navegacion ul li a {
    font-size: 13px; }
  .titulo-destacados h2 {
    margin-top: 5px;
    font-size: 15px; }
  .destacadosImg {
    margin-left: 50px; }
    .destacadosImg img {
      height: 320px;
      width: 320px; }
  .img-thumbnail {
    margin-left: -60px;
    border: none; }
  .destacadosImg .row {
    --bs-gutter-x: 0; }
    .destacadosImg .row img {
      height: auto; }
  .imgOculta1 img {
    display: none; }
  .imgOculta2 img {
    display: none; }
  .categorias {
    display: none; }
  .menuFooter {
    align-items: center;
    row-gap: 0px;
    margin-top: 10px; }
    .menuFooter p {
      font-size: 15px;
      margin-left: 10px; }
  .navFooter {
    margin-left: -35px;
    margin-top: 5px; }
  .contactoFooter {
    align-items: center;
    margin-top: 10px; }
    .contactoFooter a {
      font-size: 15px; }
    .contactoFooter p {
      margin-bottom: 0; }
  .redesSociales {
    margin-top: 10px;
    align-items: center; }
    .redesSociales p {
      font-size: 15px; }
  .logoFooter img {
    height: 30px; }
  .oculto {
    display: none; }
  .imgProductos {
    margin-left: 85px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; }
    .imgProductos img {
      height: 220px;
      width: 220px; }
  .mapa {
    margin-top: 15px;
    margin-left: 15px;
    width: 700px;
    height: 300px; }
  .contacto {
    column-gap: 5px; }
  .formulario {
    display: flex;
    flex-direction: column;
    width: 650px;
    margin-top: 5px;
    margin-left: 35px; }
  .enviar {
    margin-top: 15px; }
  .resetear {
    margin-top: 15px; } }

@media screen and (max-width: 425px) {
  .logo img {
    height: 50px;
    width: auto;
    margin-left: 200px; }
  .navegacion {
    height: 220px;
    margin-top: 10px;
    margin-bottom: -25px; }
    .navegacion ul li {
      display: flex;
      justify-content: center;
      align-items: center; }
      .navegacion ul li a {
        font-size: 12px; }
  .separador {
    height: 5px; }
  .separadorDos {
    height: 5px; }
  .titulo-destacados h2 {
    margin-top: 10px;
    font-size: 12px; }
  .destacadosImg {
    margin-left: 15px; }
    .destacadosImg img {
      height: 180px;
      width: 180px; }
  .img-thumbnail {
    margin-left: 0;
    border: none; }
  .imgOculta1 img {
    display: block; }
  .imgOculta2 img {
    display: block; }
  .footer {
    row-gap: 15px; }
  .menuFooter {
    display: none; }
  .contactoFooter {
    margin-top: 5px;
    align-items: center;
    row-gap: 1px; }
    .contactoFooter a {
      font-size: 15px; }
    .contactoFooter p {
      text-transform: lowercase;
      margin-bottom: 0; }
  .redesSociales {
    margin-top: 10px;
    align-items: center;
    margin-bottom: 10px; }
    .redesSociales p {
      display: none; }
  .logoFooter {
    margin-bottom: 10px; }
    .logoFooter img {
      height: 40px;
      width: auto; }
  .btn-whatsapp {
    right: 15px; }
    .btn-whatsapp img {
      height: 50px; }
  .imgProductos {
    margin-left: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; }
    .imgProductos img {
      height: 120px;
      width: 120px; }
  .mapa {
    margin-top: 15px;
    margin-left: 15px;
    width: 380px;
    height: 300px; }
  .formulario {
    display: flex;
    flex-direction: column;
    width: auto;
    margin-top: 5px;
    margin-left: 35px; } }

* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62, 5%; }

.separador {
  background-color: #5b5f63;
  height: 20px; }

.separadorDos {
  background: linear-gradient(to right, #ffb300, #f95503);
  height: 20px; }

.btn-whatsapp {
  display: block;
  width: 65px;
  height: 65px;
  position: fixed;
  right: 35px;
  bottom: 15px; }
  .btn-whatsapp img {
    height: 60px;
    width: auto; }

.estiloFooter, .contactoFooter a, .redesSociales p {
  font-family: "Open Sans", sans-serif;
  color: white;
  font-size: 20px;
  margin-top: 10px; }
