@import "mixin";

.titulo-destacados {
    display: flex;
    justify-content: center;
    h2{
        text-transform: uppercase;
        font-family: $fuente;
        font-size: 20px;
        margin-top: 10px;
        
    }
}

.destacadosImg {
    img {
        @include sizes(350px, 350px);
    }
}

.img-thumbnail {
    margin-left: 20px;
    border: none;
}