.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navegacion {
    background-color: map-get($estilos, color1);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
}

.menu {
    margin-bottom: 30px;
    ul {
        li {
            display: inline-block;
            position: relative;
            font-size: 20px;
            padding: 10px;
            a{
                text-decoration: none;
                text-transform: uppercase;
                font-size: 15px;
                font-weight: 700;
                font-family: $fuente;
                color: map-get($estilos, color4);
                transition: font-size 1.5s;
                &:hover{
                    color: map-get($estilos, color2);
                    font-size: 16px;
                }
            }
        }
    }
}

