
@import "variables";
@import "header";
@import "destacados";
@import "contenido-paginas";
@import "footer";
@import "mediaq";


* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62, 5%;
}

.separador {
    background-color: $color3;
    height: 20px;
}

.separadorDos {
    background: linear-gradient(to right, #ffb300, $color2);
    height: 20px;
}

.btn-whatsapp {
    display: block;
    width: 65px;
    height: 65px;
    position: fixed;
    right: 35px;
    bottom: 15px;
    img{
        height: 60px;
        width: auto;
    }
}