
@import "variables";
@import "header";
@import "destacados";
@import "contenido-paginas";
@import "footer";
@import "mediaq";
@import "mixin";


* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62, 5%;
}

.col-12 {
    padding: 0px;
}

.separador {
    background-color: map-get($estilos, color3);
    height: 20px;
}

.separadorDos {
    background: linear-gradient(to right, #ffb300, map-get($estilos, color2));
    height: 20px;
}

.btn-whatsapp {
    display: block;
    width: 65px;
    height: 65px;
    position: fixed;
    right: 35px;
    bottom: 15px;
    img{
        height: 60px;
        width: auto;
    }
}

.estiloFooter {
    font-family: $fuente;
    color: map-get($estilos, color1);
    font-size: 20px;
    margin-top: 10px;
}






